@import '../../Main/variables';

.column-checkbox {
  width: 1px;
  text-align: center;
}

.column-image {
  width: 1px;
  text-align: center;
  img, .image {
    display: block;
    margin: -8px 0;
    width: 36px;
  }
}
.column-actions {
  width: 130px;
  white-space: nowrap;
}

.column-boolean {
  width: 92px;
  text-align: center;
}

.column-sort-buttons {
  margin-left: 5px;
  button {
    border: none;
    background: none;
    padding: 0 6px;
    outline: none;
  }
}
